#container {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
  padding-left: 25%;
  padding-top: 20%; 

}

#circle {
   position: absolute;
   width: 50%;
   height: 50%;
   background-color: red;
   border-radius: 50%;
}

#small-circle{
  margin-top: 20%;
  margin-left: 20%;
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 50%;
}

#smaller-circle{
  margin-top: 25%;
  margin-left: 25%;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 50%;
}

.container{
  padding-left: 33%;
}

body{
  background-color: #97FFFF;
}

.message{
  text-align: center;
  font-weight: bold;
}